body{
    background-color:blueviolet;
}

button{
    color:black;
    background-color:brown;
}

#Head1{
    color:yellow;
}
#Head2{
    color:pink;
    text-decoration :overline;
}
#Head3{
    color:blue;
    text-decoration :underline;
}
.Myclass{
    color:aqua;
}
p{
    text-align : right;
    font-size : 15px;
    line-height :normal;
    font-family :Arial;
    text-transform :Capitalize;

}